.col-lg-6.col-md-8
  .panel.panel-info
    .panel-heading List-Options
    .panel-body
      = simple_form_for(@list, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
        = f.input :log_level, collection: %w[error warn info debug]
        = f.input :subject_prefix, hint: "If you want brackets, add them here, too."
        = f.input :subject_prefix_in, label: 'Subject-prefix for incoming emails', hint: "If you want brackets, add them here, too."
        = f.input :subject_prefix_out, label: 'Subject-prefix for outgoing emails', hint: "If you want brackets, add them here, too."
        = f.input :public_footer, as: :text
        = f.input :headers_to_meta, hint: "One header-name per line. Case-insensitive.", as: :text
        = f.input :bounces_drop_on_headers, placeholder: 'X-Spam-Flag: yes', hint: 'One match per line. Case-insensitive.', as: :text
        = f.input :keywords_admin_only, as: :check_boxes, collection: @keywords, hint: "Selected keywords may only be called by admins of this list.", wrapper: :horizontal_radio_and_checkboxes
        = f.input :keywords_admin_notify, as: :check_boxes, collection: @keywords, hint: "Admins will be notified whenever one of these keywords is called.", wrapper: :horizontal_radio_and_checkboxes

        = checkbox f, :send_encrypted_only, "Only send messages if they can be encrypted to their receiver."
        = checkbox f, :receive_encrypted_only, "Only accept encrypted messages?"
        = checkbox f, :receive_signed_only, "Only accept validly signed messages?"
        = checkbox f, :receive_authenticated_only, "Only accept messages that are validly signed by a subscriber? (Determined by fingerprint.)"
        = checkbox f, :receive_from_subscribed_emailaddresses_only, "Only accept messages with a subscribed address as From-header? (Warning: this is a very weak check!)"
        = checkbox f, :receive_admin_only, "Only accept messages validly signed by an admin of this list? (Determined by fingerprint.)"
        = checkbox f, :keep_msgid, "Pass incoming Message-IDs to outgoing messages? This enables threading in Mail-clients and helps to identify messages."
        = checkbox f, :bounces_drop_all, "Don't bounce but drop all rejected messages."
        = checkbox f, :bounces_notify_admins, "Notify admins of bounced messages."
        = checkbox f, :include_list_headers, "Include List-headers (RFC 2369) to outgoing messages."
        = checkbox f, :include_openpgp_header, "Include OpenPGP-headers to outgoing messages."
        = f.input :openpgp_header_preference, collection: %w[signencrypt encrypt sign], hint: "Only relevant if inclusion of OpenPGP-headers is active."
        = f.input :max_message_size_kb, hint: "Emails bigger than this will be rejected (measured in kilo-bytes.)"

        = f.button :submit, 'Update', class: 'btn btn-primary'


