-# There's no assignment of @title on purpose, showing only the listname is a good title for this page.

- if @list.key.blank?
  .alert.alert-warning 
    %strong No key present! This list is not functional!

.col.col-lg-6.col-md-8
  .panel.panel-info
    .panel-heading= @list
    .panel-body
      %table.table
        %tr
          %td Key of list
          %td= link_to("0x#{@list.key.fingerprint}", [@list, @list.key])
        %tr
          %td Admins
          %td
            - if @list.admins.blank?
              .text-danger None
            - else
              - @list.admins.each do |subscription|
                - if can? :show, subscription
                  = link_to(subscription, edit_subscription_path(subscription))
                - else
                  = subscription
        %tr
          %td # of subscriptions
          %td
            - if can? :index, @list.subscriptions
              = link_to @list.subscriptions.count, edit_list_subscriptions_path(@list)
            - else
              = @list.subscriptions.count

        - if can? :manage, @list
          %tr
            %td Subscriptions without key
            %td
              - @list.subscriptions.select { |sub| sub.key.blank? }.each do |subscription|
                = link_to(subscription, edit_subscription_path(subscription))
              - end.join(', ')

- if can? :destroy, @list
  .col.col-lg-6.col-md-4
    .pull-right
      = link_to "Delete list", delete_list_path(@list), class: 'text-danger'
