- @title = "Edit #{@subscription}"

.col-lg-6.col-md-8
  .panel.panel-info
    .panel-heading Edit subscription
    .panel-body= render 'form'

.col-lg-6.col-md-4
  .pull-right
    = render 'unsubscribe_button'
