- @title = 'My account'

.col-lg-6.col-md-8.col-sm-12
  .panel.panel-info
    .panel-heading Change password
    .panel-body
      = simple_form_for(@account, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
        = f.input :password, as: :password, required: true
        = f.input :password_confirmation, as: :password, required: true

        = f.submit 'Save', class: 'btn btn-primary'

- if ! @account.superadmin?
  .col-lg-6.col-md-8
    .panel.panel-danger
      .panel-heading Delete Account
      .panel-body
        = link_to "Delete account", delete_account_path(@account), class: 'text-danger'
