- @title = 'Home'

- if @lists.present?
  .col-lg-4
    .panel.panel-info
      .panel-heading Lists
      .panel-body
        %ul
          -@lists.each do |list|
            - if @admin_lists.include?(list)
              %li
                %em= link_to list, list
            -else
              %li= link_to list, list
      - if @admin_lists.any?
        .panel-footer
          Lists you are administrating are
          %em emphasized

.clearfix

- if can? :create, List
  = link_to(new_list_path, class: 'btn btn-success') do
    %span.glyphicon.glyphicon-plus
    New list
